body {
	background-color:black;
	margin:0;
	padding:0;
	font-family:Arial,sans-serif;
	font-size:13px;color:white;
}

h1 {
	padding-left: 60px;
	background: transparent url('../images/wow.png') no-repeat left center;
	line-height: 50px;
}

h2,h3,h4 {
	margin: 0;
}

form {
	padding:0;
	margin:0;
	display:inline;
}

small{font-size:11px;}

a { color: #FC6; text-decoration: none; }
a:hover { color: #FF8000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

.level {
	text-align: center;
	width: 50px;
}

.rewards {
	width: 320px;
}

.wrapper {
	width: 900px;
	margin: 10px auto;
}

.wrapper table {
	border-collapse: collapse;
	width: 100%;
	background-color: rgb(24, 24, 24);
	border-spacing: 2px 2px;
	border-color: gray;
}

.wrapper table th {
	font-size: 14px;
	font-weight: bold;
	border-bottom: 1px solid rgb(48, 48, 48);
	border-left: 1px solid rgb(112, 112, 112);
	border-right: 1px solid rgb(48, 48, 48);
	border-top: 1px solid rgb(112, 112, 112);
	background-color: rgb(88, 88, 88);
	color: white;
	padding: 4px;
	text-decoration: none;
	text-align: left;
}

.wrapper table td {
	border: 1px solid rgb(64, 64, 64);
	color: rgb(221, 221, 221);
	padding: 4px;
}

.pagination_box {
	padding: 5px;
	background-color: rgb(88, 88, 88);
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	margin-bottom: 20px;
}

.search_box {
	padding: 5px;
	background-color: rgb(88, 88, 88);
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
}

.search_box input[type="submit"] {
	float: right;
}

.search_box input[type="text"] {
	padding: 5px 8px;
	background: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 0;
}

#quest_title {
	width: 200px;
}

#quest_level {
	width: 40px;
	text-align: right;
}

#quest_template_Entry {
	width: 60px;
	text-align: right;
}

#quest_template_Title {
	width: 100%;
}

#quest_template_Details_f {
	height: 100px;
}

#quest_template_Objectives_f {
	height: 50px;
}

#quest_template_QuestLevel, #quest_template_MinLevel {
	width: 40px;
	text-align: center;
}

#quest_template_SuggestedPlayers {
	width: 40px;
	text-align: right;
}

#quest_template_OfferRewardText_f, #quest_template_EndText_f, #quest_template_RequestItemsText_f {
	height: 90px;
}

#quest_template_reqObjectID1, #quest_template_reqObjectID2, #quest_template_reqObjectID3, #quest_template_reqObjectID4 {
	width: 60px;
	text-align: center;
}

#quest_template_ObjectiveText1, #quest_template_ObjectiveText2, #quest_template_ObjectiveText3, #quest_template_ObjectiveText4 {
	width: 100%;
}

#quest_template_gold, #quest_template_silver, #quest_template_copper {
	padding-left: 20px;
	width: 50px;
	text-align: right;
	background: #fff url('/images/money_gold.gif') no-repeat 4px center;
}

#quest_template_silver {
	background-image: url('/images/money_silver.gif');
}

#quest_template_copper {
	background-image: url('/images/money_copper.gif');
}

#quest_template_ReqItemCount1, #quest_template_ReqItemCount2, #quest_template_ReqItemCount3, #quest_template_ReqItemCount4, #quest_template_ReqCreatureOrGOCount1, #quest_template_ReqCreatureOrGOCount2, #quest_template_ReqCreatureOrGOCount3, #quest_template_ReqCreatureOrGOCount4, #quest_template_RewItemCount1, #quest_template_RewItemCount2, #quest_template_RewItemCount3, #quest_template_RewItemCount4, #quest_template_RewChoiceItemCount1, #quest_template_RewChoiceItemCount2, #quest_template_RewChoiceItemCount3, #quest_template_RewChoiceItemCount4 {
	width: 40px;
	text-align: right;
}

#quest_template_SpecialFlags {
	width: 200px;
}

#quest_template_RewRepValue1, #quest_template_RewRepValue2, #quest_template_RewRepValue3, #quest_template_RewRepValue4 {
	width: 80px;
	text-align: right;
}

.box {
	padding: 5px 10px;
	background-color: rgb(36, 36, 36);
	border: 1px solid rgb(56, 56, 56);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	margin-bottom: 10px;
}

.box input[type="text"], .box textarea {
	border: 1px solid #000;
	background: #fff;
	padding: 5px;
	margin: 5px 0;
}

.box textarea {
	width: 100%;
}

.box fieldset {
	border: 1px solid #ccc;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	margin-bottom: 10px;
	padding: 10px;
}

.box legend {
	padding: 0 10px;
	font-weight: bold;
	font-size: 15px;
}

fieldset p {
	margin-top: 0;
} 

fieldset p:last-child {
	margin-bottom: 0;
}

.toolbar {
	float: right;
}

.toolbar a {
	padding: 2px 4px;
	border: 1px solid #ccc;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	margin-left: 5px;
}

.column {
	width: 413px;
	float: left;
}

.clear {
	clear:both;
}

.box input[type="submit"] {
	width: 300px;
	height: 30px;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border: 0;
	color: #fff;
	background: #000;
	margin: 0 auto;
}

.box input[type="submit"]:active {
	color: #000;
	background: #fff;
}