<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>Quest Buster 8000</title>
		<script src="http://static.wowhead.com/widgets/power.js"></script>
		<link rel="stylesheet" href="/stylesheets/scaffold.css" type="text/css" media="screen" />
	</head>
	<body>
		<div class="wrapper">
			<%= yield %>
		</div>
	</body>
</html>