<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>Quest Buster 8000</title>
		<script src="http://static.wowhead.com/widgets/power.js"></script>
		<script src="/javascripts/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/javascripts/jquery.autocomplete.js" type="text/javascript" charset="utf-8"></script>
		
		<%= javascript_include_tag 'application.js', 'quest_flags.js' %>
		<link rel="stylesheet" href="/stylesheets/scaffold.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="/stylesheets/jquery.autocomplete.css" type="text/css"/>
		
	</head>
	<body>
		<div class="wrapper">
			<%= yield %>
		</div>
	</body>
</html>